.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.footer{
	z-index: -1;
	position: fixed;
	bottom: 0px;
	margin-right: auto;
	margin-left: 15px;
}

.glyphicon-main-button{
	font-size: 60px;
}

.col-xs-12{
	margin-top: 15px;
	margin-bottom: 15px;
}
