<section data-ng-controller="GastosController" data-ng-init="find()">
    <div class="page-header">
        <div class="row">
            
            <div class="col-md-11 col-xs-8">
                <h1>Gastos</h1>
            </div>
            
            <div class="col-md-1 col-xs-4">
                <h1>
                    <a href="/#!/gastos/create" class="btn btn-primary btn-lg btn-block">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </h1>
            </div>
    </div>
    <div class="list-group">
        <a data-ng-repeat="gasto in gastos" data-ng-href="#!/gastos/{{gasto._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="gasto.created | date:'medium'"></span>
				by
				<span data-ng-bind="gasto.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="gasto.motivo"></h4>
            <p data-ng-bind="gasto.monto"></p>
        </a>
    </div>
    Total: {{ getTotal() }}
    {{ingresos}}
</section>